## Create four Dataset for labeling the recipes
####  14. November 2020
### Input
Chefkoch Instructions data csv-file
### Output
4 Datasets with 500 different recipes each

In [2]:
# Coco Path
# path = r"C:\Users\CocoL\Universität St.Gallen\STUD-Capstoneproject Tell 6 - General\"
# Jona Path
# path = r"/Users/jhoff/Universität St.Gallen/STUD-Capstoneproject Tell 6 - Dokumente/General/"
# Giovanni Path
path = r"/Users/jonathanebner/Universität St.Gallen/STUD-Capstoneproject Tell 6 - General/"
# Leo Path
#ath = r"/Users/Leonidas/Universität St.Gallen/STUD-Capstoneproject Tell 6 - General/"

# Import packages
import pandas as pd
import numpy as np
import spacy

In [3]:
# Load data and seperate instructions at @ as defined
data = pd.read_csv(path+"02-Coding/01-Data/instructions.csv", sep="@", encoding="utf-16", header=None, error_bad_lines=False)
print("Number of imported recipes: ",len(data))

Number of imported recipes:  12190

In [4]:
# Name column text to have the keys named text later
data.columns = ["text"]

In [5]:
# Initiate nlp model
disabled = ['parser', 'tagger', 'ner']
nlp = spacy.load('de_core_news_lg', disable=disabled)

# Create a column with tokenized instructions using spacy
data["Tokenized"] = data["text"].apply(nlp) 
# Create a column with the amount of tokens per recipe
data["Length"] = data["Tokenized"].apply(len)
data.head()

,text,Tokenized,Length
0,Die Eier hart kochen. Dann pellen und mit eine...,"(Die, Eier, hart, kochen, ., Dann, pellen, und...",341
1,Vorab folgende Bemerkung: Alle Mengen sind Cir...,"(Vorab, folgende, Bemerkung, :, Alle, Mengen, ...",155
2,"Die Kirschen abtropfen lassen, dabei den Saft ...","(Die, Kirschen, abtropfen, lassen, ,, dabei, d...",133
3,"Den Spargel säubern, die holzigen Enden abschn...","(Den, Spargel, säubern, ,, die, holzigen, Ende...",137
4,Kohlrabi schälen und klein würfeln. Mit der Br...,"(Kohlrabi, schälen, und, klein, würfeln, ., Mi...",89

In [8]:
# select all recipes with a token length of smaller 210
data_smaller210 = data[data["Length"] < 210]
data_smaller210.head()

,text,Tokenized,Length
1,Vorab folgende Bemerkung: Alle Mengen sind Cir...,"(Vorab, folgende, Bemerkung, :, Alle, Mengen, ...",155
2,"Die Kirschen abtropfen lassen, dabei den Saft ...","(Die, Kirschen, abtropfen, lassen, ,, dabei, d...",133
3,"Den Spargel säubern, die holzigen Enden abschn...","(Den, Spargel, säubern, ,, die, holzigen, Ende...",137
4,Kohlrabi schälen und klein würfeln. Mit der Br...,"(Kohlrabi, schälen, und, klein, würfeln, ., Mi...",89
5,"Aus dem Mehl, der Butter, dem Ei und etwas Sal...","(Aus, dem, Mehl, ,, der, Butter, ,, dem, Ei, u...",152

In [22]:
# shuffle all recipes
data_shuffle = data_smaller210.sample(frac=1).reset_index(drop=True).iloc[:,0]
data_final = data_shuffle.to_frame()
data_final.head()

                                                text
0  Kürbisfleisch würfeln. Möhren schälen und würf...
1  Den Seeteufel in 2-3 cm große Würfel, den Schn...
2  Die Dörrpflaumen mehrere Stunden (oder über Na...
3  Die Schwarte mit einem scharfen Messer rautenf...
4  Die Eier pochieren. Dafür in einem mittleren T...

In [23]:
# Anzahl Rezepte pro Person
amount_recipes = 500

In [29]:
# JONA
# Convert pandas dataframe to list of dicts with {"text": "Instruction"} per dict
data_final.iloc[0:amount_recipes,:].to_json(path+"/02-Coding/01-Data/recipes_labeling/recipes_jona.json",orient='records',force_ascii=False)

In [30]:
# LEO
# Convert pandas dataframe to list of dicts with {"text": "Instruction"} per dict
data_final.iloc[amount_recipes:amount_recipes*2,:].to_json(path+"/02-Coding/01-Data/recipes_labeling/recipes_leo.json",orient='records',force_ascii=False)

In [31]:
# COCO
# Convert pandas dataframe to list of dicts with {"text": "Instruction"} per dict
data_final.iloc[amount_recipes*2:amount_recipes*3,:].to_json(path+"/02-Coding/01-Data/recipes_labeling/recipes_coco.json",orient='records',force_ascii=False)

In [32]:
# JONATHAN
# Convert pandas dataframe to list of dicts with {"text": "Instruction"} per dict
data_final.iloc[amount_recipes*3:amount_recipes*4,:].to_json(path+"/02-Coding/01-Data/recipes_labeling/recipes_jonathan.json",orient='records',force_ascii=False)