## Create four Dataset for labeling the recipes
####  14. November 2020
### Input
Chefkoch Instructions data csv-file
### Output
8 JSONs (2 per person) <br>
batch1: 10 overlap, 50 unique <br>
batch2: 20, overlap, 70 unique

In [1]:
# Coco Path
# path = r"C:\Users\CocoL\Universität St.Gallen\STUD-Capstoneproject Tell 6 - General\"
# Jona Path
# path = r"/Users/jhoff/Universität St.Gallen/STUD-Capstoneproject Tell 6 - Dokumente/General/"
# Giovanni Path
path = r"/Users/jonathanebner/Universität St.Gallen/STUD-Capstoneproject Tell 6 - General"
# Leo Path
#ath = r"/Users/Leonidas/Universität St.Gallen/STUD-Capstoneproject Tell 6 - General/"

# Import packages
import pandas as pd
import numpy as np
import spacy

In [69]:
# Load data and seperate instructions at @ as defined
data = pd.read_csv(path+"/02-Coding/01-Data/01_instructions/instructions.csv", sep="@", encoding="utf-16", header=None, error_bad_lines=False)
print("Number of imported recipes: ",len(data))

Number of imported recipes:  12190

In [70]:
# Name column text to have the keys named text later
data.columns = ["text"]

In [71]:
# Initiate nlp model
disabled = ['parser', 'tagger', 'ner']
nlp = spacy.load('de_core_news_lg', disable=disabled)

# Create a column with tokenized instructions using spacy
data["Tokenized"] = data["text"].apply(nlp) 
# Create a column with the amount of tokens per recipe
data["Length"] = data["Tokenized"].apply(len)
data.head()

,text,Tokenized,Length
0,Die Eier hart kochen. Dann pellen und mit eine...,"(Die, Eier, hart, kochen, ., Dann, pellen, und...",341
1,Vorab folgende Bemerkung: Alle Mengen sind Cir...,"(Vorab, folgende, Bemerkung, :, Alle, Mengen, ...",155
2,"Die Kirschen abtropfen lassen, dabei den Saft ...","(Die, Kirschen, abtropfen, lassen, ,, dabei, d...",133
3,"Den Spargel säubern, die holzigen Enden abschn...","(Den, Spargel, säubern, ,, die, holzigen, Ende...",137
4,Kohlrabi schälen und klein würfeln. Mit der Br...,"(Kohlrabi, schälen, und, klein, würfeln, ., Mi...",89

In [72]:
# select all recipes with a token length of smaller 210
data_smaller210 = data[data["Length"] < 210]
data_smaller210.head()

,text,Tokenized,Length
1,Vorab folgende Bemerkung: Alle Mengen sind Cir...,"(Vorab, folgende, Bemerkung, :, Alle, Mengen, ...",155
2,"Die Kirschen abtropfen lassen, dabei den Saft ...","(Die, Kirschen, abtropfen, lassen, ,, dabei, d...",133
3,"Den Spargel säubern, die holzigen Enden abschn...","(Den, Spargel, säubern, ,, die, holzigen, Ende...",137
4,Kohlrabi schälen und klein würfeln. Mit der Br...,"(Kohlrabi, schälen, und, klein, würfeln, ., Mi...",89
5,"Aus dem Mehl, der Butter, dem Ei und etwas Sal...","(Aus, dem, Mehl, ,, der, Butter, ,, dem, Ei, u...",152

In [73]:
# delete duplicates in text
data_smaller210_nodupl = data_smaller210.drop_duplicates(subset='text', keep="first")

In [74]:
print("All:", len(data))
print("Length 210:", len(data_smaller210))
print("No duplicates:", len(data_smaller210_nodupl))

All: 12190
Length 210: 10650
No duplicates: 3761

In [75]:
# shuffle all recipes
data_shuffle = data_smaller210_nodupl.sample(frac=1).reset_index(drop=True).iloc[:,0]
data_final = data_shuffle.to_frame()
data_drop = data_final.copy()
data_final.head()

                                                text
0  Die Hähnchenbrust in Stücke schneiden, Größe j...
1  Aus Milch, Mineralwasser, Mehl, Eiern und Salz...
2  Aus Olivenöl, Knoblauch, süßem Senf und Ahorns...
3  Die Kartoffeln in kleine Würfel schneiden und ...
4  Speck goldbraun auslassen. Kohl, Brühe und Gew...

In [81]:
# create overlap of 30
overlap = data_drop.sample(30)
overlap.to_json(path+"/02-Coding/01-Data/20_overlap/overlap.json",orient='records',force_ascii=False)
overlap_batch1 = overlap.iloc[:10]
overlap_batch2 = overlap[10:]
data_drop = data_drop.drop(list(overlap.index))
print("Overlap:", len(overlap))
print("Rest:", len(data_drop))
overlap.head()

Overlap: 30
Rest: 3251

                                                   text
1983  Grünkohl waschen und blanchieren, abschrecken,...
3477  Kartoffeln säubern und in einem mit Wasser gef...
2300  Kohl putzen, waschen und den Strunk herausschn...
3272  Bohnen halbieren, in kochendes Salzwasser gebe...
3595  Das Öl in einer Pfanne erhitzen und die Zwiebe...

In [82]:
amount_recipes_batch1 = 50
amount_recipes_batch2 = 70

In [83]:
# create batch1 and batch2

batch1_jona = data_drop.sample(amount_recipes_batch1)
data_drop = data_drop.drop(list(batch1_jona.index))
batch2_jona = data_drop.sample(amount_recipes_batch2)
data_drop = data_drop.drop(list(batch2_jona.index))
print("Rest:", len(data_drop))

batch1_leo = data_drop.sample(amount_recipes_batch1)
data_drop = data_drop.drop(list(batch1_leo.index))
batch2_leo = data_drop.sample(amount_recipes_batch2)
data_drop = data_drop.drop(list(batch2_leo.index))
print("Rest:", len(data_drop))

batch1_coco = data_drop.sample(amount_recipes_batch1)
data_drop = data_drop.drop(list(batch1_coco.index))
batch2_coco = data_drop.sample(amount_recipes_batch2)
data_drop = data_drop.drop(list(batch2_coco.index))
print("Rest:", len(data_drop))

batch1_jonathan = data_drop.sample(amount_recipes_batch1)
data_drop = data_drop.drop(list(batch1_jonathan.index))
batch2_jonathan = data_drop.sample(amount_recipes_batch2)
data_drop = data_drop.drop(list(batch2_jonathan.index))
print("Rest:", len(data_drop))

Rest: 3131
Rest: 3011
Rest: 2891
Rest: 2771

In [84]:
# mix batches with overlap

batch1_jona_total = pd.concat([batch1_jona, overlap_batch1]).sample(frac = 1)
batch2_jona_total = pd.concat([batch2_jona, overlap_batch2]).sample(frac = 1)

batch1_leo_total = pd.concat([batch1_leo, overlap_batch1]).sample(frac = 1)
batch2_leo_total = pd.concat([batch2_leo, overlap_batch2]).sample(frac = 1)

batch1_coco_total = pd.concat([batch1_coco, overlap_batch1]).sample(frac = 1)
batch2_coco_total = pd.concat([batch2_coco, overlap_batch2]).sample(frac = 1)

batch1_jonathan_total = pd.concat([batch1_jonathan, overlap_batch1]).sample(frac = 1)
batch2_jonathan_total = pd.concat([batch2_jonathan, overlap_batch2]).sample(frac = 1)

In [87]:
# df to json
def df_to_json():
    batch1_jona_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch1_jona.json",orient='records',force_ascii=False)
    batch2_jona_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch2_jona.json",orient='records',force_ascii=False)

    batch1_leo_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch1_leo.json",orient='records',force_ascii=False)
    batch2_leo_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch2_leo.json",orient='records',force_ascii=False)

    batch1_coco_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch1_coco.json",orient='records',force_ascii=False)
    batch2_coco_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch2_coco.json",orient='records',force_ascii=False)

    batch1_jonathan_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch1_jonathan.json",orient='records',force_ascii=False)
    batch2_jonathan_total.to_json(path+"02-Coding/01-Data/11_clean_batches/batch2_jonathan.json",orient='records',force_ascii=False)

In [89]:
#df_to_json()